.welcome{
  margin-top: 2rem;
  margin-left: 0;
}
.rowOne {
  display: flex;
  justify-content: space-between;
  gap: 15rem;
  align-items: center;
  margin-top: 6rem;
 /* padding-left: 8rem;
 margin-bottom: 5rem;  */
}
.rowTwo {
  display: flex;
  justify-content: space-between;
  gap: 15rem;
  align-items: center;
  margin-top: 6rem;
  
}

.dashcards{
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}


 .cardOne {
  
  flex: 0 0 auto;
  margin: 0 10px;
}
.cardTwo {
  flex: 0 0 auto;
  margin: 0 10px;
}
.cardThree {
  flex: 0 0 auto; /* Prevent cards from growing and shrinking */
  margin: 0 10px;
}
.cardFour {
  flex: 0 0 auto; /* Prevent cards from growing and shrinking */
  margin: 0 10px;
 
}
.cardFive {
  flex: 0 0 auto;
  margin: 0 10px;

}
.cardSix {
  flex: 0 0 auto; /* Prevent cards from growing and shrinking */
  margin: 0 10px;
} */
.PaymentAndIcon {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}
.Icon {
  margin-top: 3rem;
}

.Calendar {
  margin-top: 3rem;
  margin-left: 5rem;
  position: absolute;
}

.welcome {
  /* margin-top: 2rem; */
  margin-left: 8rem;
}
.notificationBar {
  display: flex;
  margin-left: 3rem;
 
}
.submitButton {
  /* margin-left: rem; */
  margin-top: 4.5rem;
}
.charts {
  margin-left:6rem;
  margin-top: 5rem;
}
