/* .utilityChargesContainer{
    background-color: red;
} */
.pageTop{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 5rem;
}

.topButtons{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}