
.actionBtn{
    display: flex;
    cursor: pointer;
}
.title{
    font-size: 25px;
    width: 100%;
    margin-left: 2rem;
  }
  .custom-hr {
    width: 100vw; 
  }
  .AddNewButton1{
   margin-left: 109rem; 
  }